*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: url(backgrount-1.jpg);
    background-size: cover;
    height: 100vh;
}
nav{
    background: #006401;
    text-align: center;
    height: 65px;
    position: sticky;
    top: 0;
}
ul{
    padding-top: 23px;
}
li{
    display: inline-block;
    margin-left: 25px;
}
.menu{
    text-decoration: none;
    color: #fff;
    padding: 13px 30px 13px 30px;
    font-family: sans-serif;
    font-size: small;
}
.menu:hover{
    background: #2BAB0E;
    border-radius: 3px;
}
